body {
	background-color: #121212;
	color: white;
	font-style: inherit;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
#game {
	top: 1%;
	left: 30%;
	position: fixed;
	display: none;
	align-items: center;
	text-align: center;
}
#joinLobby {
	left: 45%;
	top: 20%;
	position: fixed;
}
#wynik {
	font-size: 34px;
}
canvas {
	border: 1px solid white;
}
#chat {
	word-wrap: break-word;
	border-radius: 6px;
	padding: 4px;
	background-color: rgb(34, 34, 34, 0.4);
	width: 300px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
}
#ranking {
	right: 71%;
	top: 30%;
	position: absolute;
	word-wrap: break-word;
	border-radius: 6px;
	padding: 4px;
	background-color: rgb(34, 34, 34, 0.4);
	width: 300px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
}
#wiadomosci {
	left: 64.5%;
	top: 30%;
	width: 300px;
	height: 200px;
	position: absolute;
}

#restart {
	right: 30%;
	top: 10%;
	position: absolute;
}


#tarcze {
	left: 30%;
	top: 75%;
	position: absolute;
}
#przyspieszenia {
	left: 43%;
	top: 75%;
	position: absolute;
}
#naboje {
	left: 58%;
	top: 75%;
	position: absolute;
}

/*html,body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid white;
}

#wynik {
    font-size: 34px;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#game{
    display: none;
}
#podajIp{
    position: fixed;
    top: 100px;
    left: 50px;
    color: white;
}
#lobby{
    top: 110px;
    left: 50px;
    position: fixed;
    display: none;
}*/
