body {
	background-color: #121212;
	color: white;
	font-style: inherit;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
#game {
	top: 1%;
	left: 25%;
	position: fixed;
	display: none;
	align-items: center;
	text-align: center;
}
#joinLobby {
	left: 45%;
	top: 20%;
	position: fixed;
	align-items: center;
    justify-content: center;
}

#nnick {
	width: 100%;
	top: 15.5%;
	position: fixed;
	font-size: 19px;
}

#nickname {
	top: 20%;
	position: fixed;
	font-size: 20px;
}

#connect {
	top: 27%;
	width: 11.5%;
	height: 11%;
	position: fixed;
	font-size: 27px;
}

#haslo {
	left: 45%;
	top: 80%;
	position: fixed;
}

#nhaslo {
	left: 45%;
	top: 75%;
	position: fixed;
	font-size: 15px;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#wynik {
	font-size: 34px;
}
canvas {
	border: 1px solid white;
}
#chat {
	word-wrap: break-word;
	border-radius: 6px;
	padding: 4px;
	background-color: rgb(34, 34, 34, 0.4);
	width: 300px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
}
#ranking {
	right: 71%;
	top: 30%;
	position: absolute;
	word-wrap: break-word;
	border-radius: 6px;
	padding: 4px;
	background-color: rgb(34, 34, 34, 0.4);
	width: 300px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
	display: none;
}
#wiadomosci {
	left: 70%;
	top: 30%;
	width: 300px;
	height: 200px;
	position: absolute;
	display: none;
}

#restart {
	right: 25%;
	top: 20%;
	position: absolute;
	display: none;
}


#tarcze {
	left: 30%;
	top: 90%;
	position: absolute;
	display: none;
	
}
#przyspieszenia {
	left: 43%;
	top: 90%;
	position: absolute;
	display: none;
}
#naboje {
	left: 58%;
	top: 90%;
	position: absolute;
	display: none;
}

#nick {
	left: 2%;
	top: 5%;
	position: absolute;
}

#start {
	left: 45%;
	top: 78%;
	position: absolute;
	display: none;
}

#zmienTryb {
	left: 2%;
	top: 13%;
	position: absolute;
	display: none;
}

#tryb {
	left: 2%;
	top: 17%;
	position: absolute;
}


#rozmiarX {
	font-size: 14px;
	left: 2%;
	top: 23%;
	position: absolute;
	display: none;

}
#rozmiarY {
	font-size: 14px;
	left: 11%;
	top: 23%;
	position: absolute;
	display: none;
}

#zmienX {
	left: 2%;
	top: 26%;
	position: absolute;
	width: 3%;
	display: none;
}

#zmienY {
	left: 11%;
	top: 26%;
	position: absolute;
	width: 3%;
	display: none;
}

#jablka {
	font-size: 14px;
	left: 2%;
	top: 32%;
	position: absolute;
	display: none;
}

#zmienJablka {
	left: 2%;
	top: 35%;
	position: absolute;
	width: 3%;
	display: none;
}

/*html,body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid white;
}

#wynik {
    font-size: 34px;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#game{
    display: none;
}
#podajIp{
    position: fixed;
    top: 100px;
    left: 50px;
    color: white;
}
#lobby{
    top: 110px;
    left: 50px;
    position: fixed;
    display: none;
}*/
