body {
	background-color: #121212;
	color: white;
	font-style: inherit;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	overflow: hidden;
}
#game {
	position: fixed;
	display: none;
	align-items: center;
	text-align: center;
	overflow: hidden;
	width: 100svw;
	height: 100svh;
}

#nickname {
	top: 26%;
	position: fixed;
	font-size: 22px;
	width: 168.96px;
}

#connect {
	top: 33%;
	width: 176.64px;
	height: 76.45px;
	position: fixed;
	font-size: 33px;
}

#gorne {
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
    align-items: center;
}

#wynik {
	position: fixed;
	font-size: 26px;
	top: 1%;
	display: none;
}

#start {
	top: 7%;
	width: auto;
	height: auto;
	font-size: 20px;
	position: fixed;
	display: none;
}


#joinLobby {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
    align-items: center;
}

#tlo {
	width: 100%;
	height: 100%;
	position: relative;
}

#tytul {
	top: 10%;
	position: fixed;
	font-size: 50px;
	color: yellowgreen;
}

#nnick {
	top: 21.5%;
	position: fixed;
	font-size: 22px;
}


#ntryb {
	top: 55%;
	position: fixed;
	font-size: 25px;
	color: yellow;
}

#zmienTryb {
	top: 60%;
	width: 176.64px;
	height: 55.6px;
	position: fixed;
	font-size: 25px;
}

#wiadomosc {
	top: 73%;
	width: 176.64px;
	height: 55.6px;
	position: fixed;
	font-size: 25px;
}

#trwaleWyniki {
	top: 8%;
	right: 1%;
	width: 250px;
	height: 300px;
	border: 1px solid white;
	padding: 0.5%;
	font-size: 17px;
	text-align: left;
	position: fixed;
	word-wrap: break-word;
	display: none;
	background-color: black;
	overflow: auto;
}

#ptrwaleWyniki {
	right: 3%;
	top: 1%;
	position: fixed;
	user-select: none;
	border: none;
	background: none;
}

#ptrwaleWyniki:hover {
	content: url('grafika/wyniki2.png');
	right: 3.2%;
	top: 0.7%;
}

/*#btoplength {
	font-size: 20px;
	color: yellow;
	border: 1px solid white;
	background-color: grey;
	width: 50%;
}

#btopwins {
	font-size: 20px;
	color: yellow;
	border: 1px solid white;
	background-color: black;
	width: 50%;
}

#topwins {
	display: none;
}*/


#ppomoc {
	right: 0.5%;
	top: 1%;
	font-size: 37px;
	position: fixed;
	user-select: none;
	width: 48px;
	height: 48px;
	z-index: 100;
}

#ppomoc:hover {
	right: 0.5%;
	top: 0.8%;
	font-size: 42px;
	cursor: default;
}


#pomoc {
	top: 8%;
	right: 1%;
	width: 250px;
	height: 300px;
	border: 1px solid white;
	padding: 0.5%;
	font-size: 17px;
	text-align: left;
	position: fixed;
	word-wrap: break-word;
	display: none;
	background-color: black;
	color: yellowgreen;
	z-index: 100;
}

#nick {
	left: 1.5%;
	top: 3%;
	position: absolute;
	font-size: 17px;
	display: none;
}

#tryb {
	left: 1.5%;
	top: 7%;
	position: absolute;
	font-size: 15px;
	display: none;
}


#gracze {
	right: 1%;
	top: 15%;
	position: absolute;
	font-size: 15px;
	color: yellowgreen;
}

#gracze2 {
	right: 1%;
	top: 17.5%;
	position: absolute;
	font-size: 15px;
	color: grey;
}

#gracze3 {
	right: 1%;
	top: 20%;
	position: absolute;
	font-size: 15px;
	color: grey;
}

#fps {
	right: 1%;
	top: 10%;
	position: absolute;
	font-size: 10px;
	display: none;
}

#tps {
	right: 1%;
	top: 12%;
	position: absolute;
	font-size: 10px;
	display: none;
}


#msg{
	background-color: rgba(34, 34, 34, 0);
	border: 1px solid rgba(128,128,128,0.5);
	color: white;
	width: 100%;
}

#chat {
	background-color: rgb(34, 34, 34, 0);
	word-wrap: break-word;
	padding: 4px;
	width: 12vw;
	height: 21vh;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	opacity: 100%;
}

#chat:hover {
	opacity: 100%;
}

#chat::-webkit-scrollbar {
	display: none;
}

#wiadomosci {
	right: 0.7%;
	top: 73%;
	width: 12vw;
	height: 25vh;
	position: fixed;
	display: none;
}

#tranking {
	left: 1.5%;
	top: 16%;
	position: absolute;
	font-size: 25px;
	display: none;
}

#ranking {
	left: 1.5%;
	top: 20%;
	position: absolute;
	font-size: small;
	word-wrap: break-word;
	border-radius: 6px;
	padding: 4px;
	background-color: rgb(34, 34, 34, 0);
	width: 300px;
	height: 200px;
	text-align: left;
	display: none;
}

#restart {
	top: 46%;
	font-size: 30px;
	position: fixed;
	display: none;
}

#wyjdz {
	width: 40px;
	height: 40px;
	right: 0.5%;
	top: 1%;
	position: fixed;
	display: none;
}



#dtarcze {
	left: 37%;
	bottom: 4%;
	position: absolute;
	display: none;
}
#dprzyspieszenia {
	left: 47%;
	bottom: 4%;
	position: absolute;
	display: none;
}
#dnaboje {
	left: 57%;
	bottom: 4%;
	position: absolute;
	display: none;
}

#naboje, #przyspieszenia, #tarcze {
	float: left;
	padding-right: 5px;
}



#plansza {
	position: relative;
	transition-property: all;
	transition-duration: 220ms;
	transform-style: initial;
	will-change: transform;
	transition-timing-function: linear;
}

#minimapa {
	position: fixed;
	bottom: 0.8%;
	left: 0.3%;
	border: 1px solid white;
}